#{extends 'main.html'/}

<script>
function unescapeHTML(html) {
   return $("<div />").html(html).text();
}

$(document).ready(function () {

	// Setup the dnd listeners.
	var dropZone = document.getElementById('drop_zone');
	dropZone.addEventListener('dragover', handleDragOver, false);
	dropZone.addEventListener('drop', handleFileSelect, false);

});

var accounts;

Sfdc.canvas(function() {
	var sr = JSON.parse(unescapeHTML('${signedRequest}'));
	// Save the token
//	debugger;
	Sfdc.canvas.oauth.token(sr.oauthToken);
 	var photoUri = sr.context.user.profileThumbnailUrl +  "?oauth_token=" + sr.oauthToken;
	Sfdc.canvas.byId('fullname').innerHTML = sr.context.user.fullName;
	Sfdc.canvas.byId('profile').src = (photoUri.indexOf("http")==0 ? "" :sr.instanceUrl) + photoUri;
	Sfdc.canvas.byId('firstname').innerHTML = sr.context.user.firstName;
	Sfdc.canvas.byId('lastname').innerHTML = sr.context.user.lastName;
	Sfdc.canvas.byId('username').innerHTML = sr.context.user.userName;
	Sfdc.canvas.byId('email').innerHTML = sr.context.user.email;
	Sfdc.canvas.byId('company').innerHTML = sr.context.organization.name;
		
	chatterTalk.init(sr, "chatter-submit", "speech-input-field", function(data) {
		Sfdc.canvas.byId('status').innerHTML = data.statusText;
	});
});
	</script>
        <div id="content">
            <div id="header">
                <h1 >Hello <span id='fullname'></span>!</h1>
                <h2>Welcome to the Force.com Canvas Java Quick Start Template!</h2>
            </div>

            <div id="canvas-content">
                <h1>Canvas Request</h1>
                <h2>Below is some information received in the Canvas Request:</h2>
                <div id="canvas-request">
                    <table border="0" width="100%">
                        <tr>
                            <td></td>
                            <td><b>First Name: </b><span id='firstname'></span></td>
                            <td><b>Last Name: </b><span id='lastname'></span></td>
                        </tr>
                        <tr>
                            <td><img id='profile' border="0" src="" /></td>
                            <td><b>Username: </b><span id='username'></span></td>
                            <td colspan="2"><b>Email Address: </b><span id='email'></span></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3"><b>Company: </b><span id='company'></span></td>
                        </tr>
                    </table>
                </div>
                <div id="canvas-chatter">
                    <table border="0" width="100%">
                        <tr>
                            <td width="15%"><b>Post to Chatter:&nbsp</b></td>
                            <td width="65%"><input id="speech-input-field" type="text" x-webkit-speech/></td>
                            <td width="6%"><button id="chatter-submit" type="submit"/></td>
                            <td width="10%"><span id="status" style="color:green"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
		<div>
			<h1>Accounts</h1>
			<ul>
    			#{list items:records, as:'account' }
        		<li>${account.Name}</li>
    			#{/list}
			</ul>
        <div id="footercont">
            <div id="footerleft">
                <p>Powered By: <a title="Heroku" href="#" onclick="window.top.location.href='http://www.heroku.com'"><strong>Heroku</strong></a></p>
            </div>
            <div id="footerright">
                <p>Salesforce: <a title="Safe Harbor" href="http://www.salesforce.com/company/investor/safe_harbor.jsp"><strong>SafeHarbor</strong></a></p>
            </div>
        </div>   
    </div>

<div id="drop_zone">Drop files here</div>
<output id="list"></output>
<div id="raw"></div>
<script>
// Setup the dnd listeners.
var dropZone;
var sr;


function handleFileSelect(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object.

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
        output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
            f.size, ' bytes, last modified: ',
            f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
            '</li>');
                  
        var reader = new FileReader();

        // Closure to capture the file information.
        reader.onload = (function(theFile) {
            return function(e) {
                // Render thumbnail.
                var span = document.createElement('span');
                alert(e.target.result);
                span.innerHTML = ['<img class="thumb" src="', '',
                            '" title="', escape(theFile.name), '"/>'].join('');
    
                /*Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.DnDControl.parseData}',
                    e.target.result, 
                    function(result, event) {
                        alert(result);
                        var t = "<table width='100%'>"
                        for (var i=0;i<result.length;i++) {
                            t += "<tr>";
                            for (var j=0;j<result[i].length;j++) {
                                t += "<td";
                                if (i == 0) {
                                    t += ' style="font-weight: bold"';
                                }
                                t += ">" + result[i][j] + "</td>";
                            }
                            t += "</tr>";
                        }
                        t += "</table>";
                        span.innerHTML = t;
                    },
                    {escape: false}
                );*/

                document.getElementById('list').insertBefore(span, null);
            };
        })(f);

        // Read in the image file as a data URL.
        reader.readAsText(f);
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
}

function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
}

</script>

<style>
#drop_zone {
border: 2px dashed #BBB;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
padding: 25px;
text-align: center;
font: 20pt bold,"Vollkorn";
color: #BBB;
}
</style>